*body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: White;

}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container {
    float: left;
    width: 50%;
    height: 15rem;
    background-color: black;
}

.containe {
    width: 50%;
    height: 15rem;
    background-color: gray;
    display: row; 
    justify-content: center;
    align-content: center;
}
.containe p{

	text-align: center;

}

.containe h1{
	transform: rotate(90deg);
	float: left;
}


@media only screen and (min-device-pixel-ratio: 1.5)(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
   .containe img{
	max-width: 50%;
	width: auto;
	clear: both;

}
}
